<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="GamingSubForum">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gaming
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SportsSubForum">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CryptoSubForum">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Crypto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnimalsSubForum">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Animals
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href=CreatePost>
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Create Posts
                </NavLink>
                
            </Authorized>
        </AuthorizeView>
        
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}